.authorization__login-link {
    text-decoration: none;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21em;
}