.profile__avatar-overlay {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
  width: 120px;
  height: 120px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  object-fit: contain;
  background-image: url('../../../images/icon-edit-avatar.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: rgba(0, 0, 0, .8);
}

.profile__avatar-overlay:hover {
  opacity: 1;
}
