.profile__person {
  display: grid;
  grid-template-areas: "name button";
  gap: 18px;
  align-items: baseline;
}

@media screen and (max-width: 710px) {
  .profile__person {
    grid-template-areas: ". name button";
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
  }
}
