@import url(./vendor/normalize.css);
@import url(./fonts/InterWeb/inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__user-data/header__user-data.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/header/__link/header__link.css);

@import url(./blocks/content/content.css);

@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__form/authorization__form.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__fields/authorization__fields.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__submit-button/authorization__submit-button.css);
@import url(./blocks/authorization/__question-line/authorization__question-line.css);
@import url(./blocks/authorization/__login-link/authorization__login-link.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__person/profile__person.css);
@import url(./blocks/profile/__person-name/profile__person-name.css);
@import url(./blocks/profile/__person-text/profile__person-text.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);
@import url(./blocks/element/__caption/element__caption.css);
@import url(./blocks/element/__place-name/element__place-name.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-amount/element__like-amount.css);
@import url(./blocks/element/__like-amount/_liked/element__like-amount_liked.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_form.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__fields/popup__fields.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_field/popup__input_field_name.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__input/_field/popup__input_field_occupation.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/_image-show/popup_image-show.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);
@import url(./blocks/popup/__registration-result/popup__registration-result.css);
@import url(./blocks/popup/__registration-result/_type/popup__registration-result_type_success.css);
@import url(./blocks/popup/__registration-result/_type/popup__registration-result_type_error.css);
@import url(./blocks/popup/__result-text/popup__result-text.css);